<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="hibernate.hbm2ddl.auto">update</property>
		<property name="show_sql">true</property>

		<!-- 50 Server -->
		<property name="hibernate.connection.url">jdbc:mysql://192.168.0.50/fda_hphc</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.connection.password">root</property>

		<property name="hibernate.c3p0.min_size">5</property>
		<property name="hibernate.c3p0.max_size">20</property>
		<property name="hibernate.c3p0.timeout">300</property>
		<property name="hibernate.c3p0.max_statements">0</property>
		<property name="hibernate.c3p0.idle_test_period">3000</property>

		<property name="hibernate.cache.use_second_level_cache">false</property>
		<property name="hibernate.cache.use_query_cache">false</property>
		<!-- Disable the second-level cache -->
		<property name="cache.provider_class">org.hibernate.cache.NoCacheProvider</property>

		<!-- Start: Mapping the DTO -->
		<mapping class="com.studymetadata.dto.BrandingDto" />
		<mapping class="com.studymetadata.dto.ChartsDto" />
		<mapping class="com.studymetadata.dto.ComprehensionTestQuestionDto" />
		<mapping class="com.studymetadata.dto.ComprehensionTestResponseDto" />
		<mapping class="com.studymetadata.dto.ConsentDto" />
		<mapping class="com.studymetadata.dto.ConsentInfoDto" />
		<mapping class="com.studymetadata.dto.EligibilityDto" />
		<mapping class="com.studymetadata.dto.EligibilityTestDto" />
		<mapping class="com.studymetadata.dto.EligibilityTestResponseDto" />
		<mapping class="com.studymetadata.dto.GatewayInfoDto" />
		<mapping class="com.studymetadata.dto.GatewayWelcomeInfoDto" />
		<mapping class="com.studymetadata.dto.LegalTextDto" />
		<mapping class="com.studymetadata.dto.NotificationDto" />
		<mapping class="com.studymetadata.dto.QuestionnairesDto" />
		<mapping class="com.studymetadata.dto.QuestionnairesFrequenciesDto" />
		<mapping class="com.studymetadata.dto.QuestionnairesStepsDto" />
		<mapping class="com.studymetadata.dto.QuestionsDto" />
		<mapping class="com.studymetadata.dto.QuestionsResponseTypeDto" />
		<mapping class="com.studymetadata.dto.ResourcesDto" />
		<mapping class="com.studymetadata.dto.StudyDto" />
		<mapping class="com.studymetadata.dto.StudyPageDto" />
		<mapping class="com.studymetadata.dto.ActiveTaskDto" />
		<mapping class="com.studymetadata.dto.ActiveTaskFrequencyDto" />
		<mapping class="com.studymetadata.dto.ActiveTaskStepsDto" />
		<mapping class="com.studymetadata.dto.LineChartDto" />
		<mapping class="com.studymetadata.dto.LineChartDatasourceDto" />
		<mapping class="com.studymetadata.dto.LineChartXAxisDto" />
		<mapping class="com.studymetadata.dto.StatisticsDto" />
		<mapping class="com.studymetadata.dto.ReferenceTablesDto" />
		<mapping class="com.studymetadata.dto.QuestionnairesCustomFrequenciesDto" />
		<mapping class="com.studymetadata.dto.FormDto" />
		<mapping class="com.studymetadata.dto.FormMappingDto" />
		<mapping class="com.studymetadata.dto.InstructionsDto" />
		<mapping class="com.studymetadata.dto.StudySequenceDto" />
		<!-- End: Mapping the DTO -->
	</session-factory>
</hibernate-configuration>